@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/JetBrainsMono-Regular.woff2') format('woff2');
}


html,
body {
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
  height: 100%;
}

/* Webkit 浏览器滚动条样式 */
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  /* 垂直滚动条宽度 */
  height: 7px;
  /* 水平滚动条高度 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f6c7ac;
  /* 滚动条轨道颜色 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0c75ff;
  /* 滚动条滑块颜色 */
  border-radius: 5px;
}

.custom-bg::before {
  content: '';
  position: absolute;
  background: #f6c7ac;
  height: 70%;
  /* 通过这个值控制背景高度 */
  top: 50%;
  left: -0rem;
  /* 补偿 padding */
  right: -0rem;
  transform: translateY(-50%);
  border-radius: 9999px;
  z-index: 0;
}

.song-font {
  font-family: 'SimSun', '宋体', serif;
}